body {
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
    background-color: #949494;
}

.header_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 120px;
    gap: 20px;
}

.author_name {
    display: flex;
    padding :10px 120px;
}